## Feature reduction

In [5]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import seaborn as sb

df = pd.read_excel("../data/UG_HH_NEW_categorical_no200.xls")
df = df.dropna()

df_full = pd.read_excel("../data/UG_HH_NEW_continuous_no200.xls")
df_min = df_full.min()
df_max = df_full.max()

#Drop 'protected' features
drop_cols = ['prop', 'other_prop', 'other_resp']
df = df[[col for col in df if col not in drop_cols]]

df.head()

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,equal_income,asian,white,lazy_stupid,diligent,completely_selfish,complete_donor,expect_50less,expect_100,min_offer
0,2,4,1,2,4,2,5,4,2,5,...,0,0,0,0,0,0,0,0,0,80
1,3,1,5,1,4,5,5,1,3,2,...,0,0,0,1,0,1,0,1,0,50
2,3,4,3,4,2,5,3,3,2,4,...,0,0,0,1,0,0,0,0,1,100
3,4,4,2,4,3,3,4,4,2,4,...,0,0,0,1,0,0,0,0,1,100
4,4,4,2,4,4,2,5,4,3,5,...,0,0,0,0,0,0,0,0,0,95

## Individual plots

In [3]:
# sb.pairplot(df, x_vars=('prop','other_resp','other_prop'), y_vars='min_offer', height=7, aspect=0.7, kind='reg')
# sb.pairplot(df, x_vars=('cells', 'selfish','count_effort'), y_vars='min_offer', height=7, aspect=0.7)
# sb.pairplot(df, x_vars=('Honesty_Humility', 'Extraversion','Agreeableness'), y_vars='min_offer', height=7, aspect=0.7)

## Determine significant features

In [6]:
from utils.preprocessing import df_to_xy, df_to_xydf
from models import AcceptanceModel
from utils.benchmark import process_model, process_benchmark_cv

res = {}
features = list(df)
if 'min_offer' in features:
    features.remove('min_offer')
for col in features:
    if col == 'risk':    
        x, y = df_to_xy(df, select_columns=[col], fuse_risk=True, df_min=df_min, df_max=df_max)
        col = 'risk*'
    else:
        x, y = df_to_xy(df, select_columns=[col], df_min=df_min, df_max=df_max)
    model = AcceptanceModel()
    item_res = process_benchmark_cv(model, X=x, y=y)
    res[col] = item_res.mean()

res_single_df = pd.DataFrame(res).T
res_single_df.sort_values(by=['avg_loss_ratio'], inplace=True)
res_single_df

,avg_loss,avg_loss_ratio,avg_win_loss,loss_sum,mse,rejection_ratio
q26,27.164286,0.218293,25.215990,967.0,1470.575397,0.060782
India,27.049206,0.218445,24.688663,963.0,1491.158730,0.063902
q12,27.049206,0.219333,24.239084,963.0,1518.658730,0.067143
USA,27.049206,0.219333,24.239084,963.0,1518.658730,0.067143
genius,27.049206,0.219333,24.239084,963.0,1518.658730,0.067143
asian,27.049206,0.219333,24.239084,963.0,1518.658730,0.067143
white,27.104762,0.219796,24.299690,965.0,1521.436508,0.066989
q3,27.220635,0.220885,24.426584,969.0,1523.515873,0.066000
q29,27.220635,0.220975,24.415869,969.0,1521.801587,0.070571
donation_c,27.550000,0.221657,25.626380,981.0,1488.750000,0.060845
donation_b,27.494444,0.222280,25.108020,979.0,1507.964286,0.063032
q8,27.633333,0.224001,24.881291,984.0,1556.579365,0.067143
q9,27.548413,0.224493,24.276461,981.0,1571.678571,0.079697
ethnicity,27.820635,0.224555,25.433943,990.0,1538.515873,0.062898
q4,27.620635,0.225058,24.406768,983.0,1575.801587,0.069102
donation_a,27.854762,0.225382,25.503640,992.0,1522.551587,0.062560
q17,27.872222,0.225556,25.523377,992.0,1527.130952,0.062967
age,27.677778,0.225561,24.438558,985.0,1577.515873,0.068776
Europe,28.042063,0.225649,26.103436,998.0,1517.353175,0.058921
equal_income,27.572222,0.226000,23.797917,982.0,1593.067460,0.095471
q19,27.936508,0.226337,25.669886,995.0,1523.166667,0.069209
male,27.938095,0.226390,25.198085,995.0,1578.936508,0.065291
q13,28.084127,0.227516,25.819995,1000.0,1532.674603,0.071432
q27,27.919841,0.227748,24.658604,994.0,1586.670635,0.074966
q24,28.102381,0.227945,25.295287,1000.0,1576.924603,0.064412
q14,28.188095,0.228849,25.461900,1004.0,1581.575397,0.063748
expect_50less,26.493651,0.229416,19.460685,943.0,1566.436508,0.199306
q5,28.548413,0.229580,26.662744,1016.0,1553.130952,0.059503
q23,28.271429,0.229705,25.557956,1007.0,1571.119048,0.074555
complete_donor,28.473810,0.231102,26.156306,1014.0,1551.289683,0.062587
q21,28.478571,0.231952,25.236352,1013.0,1625.273810,0.077717
q2,28.538889,0.232833,25.410196,1016.0,1621.234127,0.069417
q1,28.534921,0.233516,24.896335,1015.0,1656.658730,0.075633
q30,28.634921,0.233884,25.486863,1020.0,1614.849206,0.106143
q7,28.739683,0.234029,25.592135,1023.0,1648.936508,0.066725
q25,28.825397,0.235025,25.615206,1026.0,1639.777778,0.068026
q10,29.207937,0.237119,27.007576,1040.0,1583.071429,0.064555
mood,29.411905,0.239683,26.758080,1047.0,1626.273810,0.061762
country,29.669841,0.242947,26.132520,1056.0,1721.920635,0.077254
q18,29.510317,0.243803,24.950605,1051.0,1750.599206,0.108311
lazy_stupid,29.993651,0.249697,24.852064,1069.0,1824.769841,0.097235
q28,30.667460,0.249876,28.165179,1092.0,1705.472222,0.064718
diligent,30.250000,0.253335,24.450486,1078.0,1851.535714,0.129844
q16,30.338889,0.253843,24.547251,1080.0,1869.535714,0.133778
completely_selfish,30.642857,0.254171,25.634689,1091.0,1833.738095,0.085722
q22,31.295238,0.257987,27.780208,1113.0,1768.888889,0.091009
poor,31.275397,0.259097,26.262031,1114.0,1874.559524,0.095115
q6,31.477778,0.260742,26.669873,1121.0,1891.682540,0.095205
q11,31.573016,0.264669,25.350860,1126.0,1967.285714,0.115991
q20,32.544444,0.267421,29.658266,1158.0,1820.198413,0.065463
rich,32.050794,0.267636,26.130189,1142.0,1963.880952,0.114732
not_a_genius,31.993651,0.270307,25.582834,1141.0,2031.436508,0.122698
income,32.437302,0.271503,26.014213,1156.0,2017.948413,0.120357
expect_100,33.406349,0.288553,24.119866,1191.0,2153.531746,0.223826
crt_performance,35.000794,0.297680,27.401640,1248.0,2283.361111,0.139515
q15,35.237302,0.299830,26.969582,1255.0,2291.194444,0.132186
almost_genius,37.188095,0.321737,27.374378,1328.0,2545.464286,0.172698

In [7]:
from itertools import combinations


features = list(df)
if 'min_offer' in features:
    features.remove('min_offer')

res = {}
for cols in combinations(features, 2):
    #index should be a list
    cols = list(cols)
    if cols[0]==cols[1]: continue
    x, y = df_to_xy(df, select_columns=cols, df_min=df_min, df_max=df_max)
    model = AcceptanceModel()
    item_res = process_benchmark_cv(model, X=x, y=y)
    res[":".join(cols)] = item_res.mean()

res_duo_df = pd.DataFrame(res).T
res_duo_df.sort_values(by=['avg_loss_ratio'], inplace=True)
res_duo_df.head(10)

,avg_loss,avg_loss_ratio,avg_win_loss,loss_sum,mse,rejection_ratio
q26:q29,26.792857,0.215351,24.822051,954.0,1445.003968,0.064047
q26:asian,26.821429,0.215440,24.852354,955.0,1451.718254,0.062905
q4:q29,26.715873,0.215463,24.343128,951.0,1479.730159,0.067550
q26:white,26.849206,0.215671,24.882657,956.0,1452.968254,0.062905
q16:India,26.771429,0.215807,24.400271,953.0,1487.269841,0.066989
q4:white,26.854762,0.216678,24.487716,956.0,1483.797619,0.066526
q4:donation_b,26.994444,0.216871,25.030709,961.0,1462.964286,0.062723
donation_b:ethnicity,27.022222,0.217017,25.059280,962.0,1468.103175,0.062569
q3:donation_b,27.022222,0.217017,25.059280,962.0,1468.103175,0.062569
q12:q13,27.100000,0.217970,25.168290,965.0,1461.285714,0.074830

In [ ]:
from itertools import combinations


features = list(df)
if 'min_offer' in features:
    features.remove('min_offer')

res = {}
for cols in combinations(features, 3):
    #index should be a list
    cols = list(cols)
    if cols[0]==cols[1]: continue
    x, y = df_to_xy(df, select_columns=cols, df_min=df_min, df_max=df_max)
    model = AcceptanceModel()
    item_res = process_benchmark_cv(model, X=x, y=y)
    res[":".join(cols)] = item_res.mean()

res_trio_df = pd.DataFrame(res).T
res_trio_df.sort_values(by=['avg_loss_ratio'], inplace=True)
res_trio_df.head(10)

,avg_loss,avg_loss_ratio,avg_win_loss,loss_sum,mse,rejection_ratio
q4:q26:asian,26.738095,0.214699,24.766640,952.0,1448.523810,0.063368
q12:q16:white,26.688095,0.215220,24.310931,950.0,1478.519841,0.073470
q4:q12:white,26.715873,0.215335,24.347538,951.0,1482.269841,0.066063
q26:genius:asian,26.821429,0.215440,24.852354,955.0,1451.718254,0.062905
q26:USA:asian,26.821429,0.215440,24.852354,955.0,1451.718254,0.062905
q4:q29:USA,26.717460,0.215454,24.348485,951.0,1479.301587,0.067532
q26:age:USA,26.850000,0.215649,24.875731,956.0,1454.718254,0.063394
q26:asian:white,26.849206,0.215671,24.882657,956.0,1452.968254,0.062905
q26:USA:white,26.849206,0.215671,24.882657,956.0,1452.968254,0.062905
q26:ethnicity:asian,26.849206,0.215718,24.880925,956.0,1451.857143,0.062596

In [ ]:
from itertools import combinations


features = list(df)
if 'min_offer' in features:
    features.remove('min_offer')

res = {}
for cols in combinations(features, 4):
    #index should be a list
    cols = list(cols)
    if cols[0]==cols[1]: continue
    x, y = df_to_xy(df, select_columns=cols, df_min=df_min, df_max=df_max)
    model = AcceptanceModel()
    item_res = process_benchmark_cv(model, X=x, y=y)
    res[":".join(cols)] = item_res.mean()

res_quad_df = pd.DataFrame(res).T
res_quad_df.sort_values(by=['avg_loss_ratio'], inplace=True)
res_quad_df.head(10)

## Train model with top features

In [7]:
top_columns = ['selfish', 'time_spent_prop']
x, y = df_to_xy(df, select_columns=top_columns, min_target=20, max_target=180)

In [8]:
split = int(x.shape[0] * 0.6)
xTrain, yTrain = x[:split], y[:split]
xTest, yTest = x[split:], y[split:]

In [9]:
model = AcceptanceModel()
model.fit(xTrain, yTrain)

In [10]:
from models.metrics import gain_mean, avg_loss_ratio
yPred = model.predict(xTest)
print("Mean gain: ", gain_mean(yTest, yPred))
print("AVG loss ratio: ", avg_loss_ratio(yTest, yPred))

Mean gain:  97.65625
AVG loss ratio:  0.16550664472329668

In [11]:
print("Unique predicted values: ", np.unique(yPred))

Unique predicted values:  [ 95. 100. 105. 110.]